@page
@model ClinicaStomatologicaPentruMedici.Pages.Prescriptions.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Patient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Patient.Allergies)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Treatment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Treatment.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.TreatmentCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.TreatmentCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Medicines)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Medicines)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Quantity)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Prescription.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
