@page
@model ClinicaStomatologicaPentruMedici.Pages.Appointments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Patients)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Patients.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Doctors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Doctors.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Appointment.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
